// variables
$break-mobile: 700px;
$navbar-height: 60px;

html,
body {
  height: 100%;
  margin: 0;
  //  background-color: black;
  font-size: 1em !important;
}

// base container
.base_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: $navbar-height 1fr 1fr;
  grid-template-areas:
    "n n"
    "m i"
    "m i";
  font-size: 1em;
  width: 100vw;
  height: 100vh;
  @media (max-width: $break-mobile) {
    grid-template-areas:
      "n n"
      "i i"
      "i i";
  }
}

// navbar styles
.navbar {
  grid-area: n;
  z-index: 100;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.75) !important;
  background-color: #e9ecef !important;
  margin-bottom: 0 !important;
  .dropdown.right {
    margin: auto !important;
    margin-right: 20px !important;
    .header {
      width: 200px;
      text-transform: capitalize !important;
      font-size: 1em !important;
      padding: 0 !important;
      margin: 8px 0 0 8px !important;
      span {
        margin: 0 8px !important;
      }
    }
    .button {
      padding: 8px !important;
      float: right;
      margin: 0 8px 8px 0 !important;
      font-size: 0.9em;
    }
  }
}

// map styles
.map_container {
  grid-area: m;
  z-index: 90;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.75) !important;
  .map {
    height: calc(100vh - #{$navbar-height});
  }
  @media (max-width: $break-mobile) {
    display: none;
  }
}

// issues styles
.issues_container {
  grid-area: i;
  z-index: 80;

  .issues_cards {
    height: calc(83.8vh - #{$navbar-height});
    overflow-y: auto;
    margin: 0 !important;
    .card {
      margin: 5px 10px !important;
      // max-height: 200px;

      img {
        height: 35px !important;
        object-fit: fill;
      }
    }
    .card:first-of-type {
      margin-top: 10px !important;
    }
    .card:last-of-type {
      margin-bottom: 10px !important;
    }
  }

  .issues_header {
    margin-top: 10px;
    .header {
      margin-left: 15px;
    }
  }
}

// Landing page styles
.landing_container {
  background-color: #e9ecef;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  .landing_title {
    font-size: 4.5rem;
    font-weight: 300;
  }
  .landing_subtitle {
    font-size: 1.25rem;
    font-weight: 100;
    margin: 0;
  }

  hr {
    width: 250px;
    margin: 20px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }
}

.landing_button {
  font-weight: 400!important;
  background-color: #007bff!important;
  border-color: #007bff!important;
  padding: 10px 40px!important;
  border-radius: 3px!important;
  color: white!important;
}

.landing_button:hover {
  background-color: #0069d9!important;
  border-color: #0062cc!important;
}

// Login and Signup styles
.login_container,
.signup_container {
  background-color: white;
  width: 400px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login_form,
  .signup_form {
    width: 90%;
  }
  button {
    margin: 10px 0!important;
    float: right;
  }
}
.signup_container {
  width: 500px!important;
  height: 500px!important;
}

// Modal Styles
.issues_modal {
  .disabled {
    opacity: unset!important;
    label {
      opacity: unset!important;
    }
  }
}

// Map Tip Style
.map_tip {
  position: absolute!important;
  top: $navbar-height;
  left: 14vw;
  @media (max-width: $break-mobile) {
    display: none;
  }
}