// variables
$break-mobile: 890px;
$navbar-height: 60px;

html,
body, #__nexxt {
  height: 100%;
  margin: 0;
  font-size: 1em !important;
}

// hide down arrow
.down_arrow {
  display: none!important;
}

// base container
.base_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: $navbar-height 1fr 1fr;
  grid-template-areas:
    "n n"
    "m i"
    "m i";
  font-size: 1em;
  width: 100vw;
  height: 100vh;
}

// navbar styles
.navbar {
  grid-area: n;
  z-index: 100;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.75) !important;
  background-color: #e9ecef !important;
  margin-bottom: 0 !important;
  .dropdown.right {
    margin: auto !important;
    margin-right: 20px !important;
    .header {
      width: 200px;
      text-transform: capitalize !important;
      font-size: 1em !important;
      padding: 0 !important;
      margin: 8px 0 0 8px !important;
      span {
        margin: 0 8px !important;
      }
    }
    .button {
      padding: 8px !important;
      float: right;
      margin: 0 8px 8px 0 !important;
      font-size: 0.9em;
    }
  }
}

// map styles
.map_container {
  grid-area: m;
  z-index: 80;
  // box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.75) !important;
  .map {
    height: calc(100vh - #{$navbar-height});
  }
}

// issues styles
.issues_container {
  grid-area: i;
  z-index: 90;
  box-shadow: -3px 0 10px -5px rgba(0,0,0,.75);
  .issues_cards {
    height: calc(83.8vh - #{$navbar-height});
    overflow-y: auto;
    margin: 0 !important;
    max-width: 50vw;
    .card {
      margin: 5px 10px !important;
      max-height: 250px;
      .description {
        word-break: break-all;
        overflow-y: auto;
        max-height: 105px;
      }

      img {
        height: 35px !important;
        object-fit: fill;
      }
      .content .header:hover {
        color: blue;
        cursor: pointer;
      }
    }
    .card:first-of-type {
      margin-top: 10px !important;
    }
    .card:last-of-type {
      margin-bottom: 10px !important;
    }
  }

  .issues_header {
    margin-top: 10px;
    .header {
      margin-left: 15px;
    }
  }

  .resolved_text {
    color: #17AB39;
  }
}

// Landing page styles
.landing_container {
  background-color: #e9ecef;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  .landing_title {
    font-size: 4.5rem;
    font-weight: 300;
  }
  .landing_subtitle {
    font-size: 1.25rem;
    font-weight: 100;
    margin: 0;
  }

  hr {
    width: 250px;
    margin: 20px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }
}

.landing_button {
  font-weight: 400!important;
  background-color: #007bff!important;
  border-color: #007bff!important;
  padding: 10px 40px!important;
  border-radius: 3px!important;
  color: white!important;
}

.landing_button:hover {
  background-color: #0069d9!important;
  border-color: #0062cc!important;
}

// Login and Signup styles
.login_container,
.signup_container {
  background-color: white;
  width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login_form,
  .signup_form {
    width: 90%;
  }
  .form:first-child {
    margin-top: 10px!important;
  }
  button {
    margin: 10px 0!important;
    float: right;
  }
}
.signup_container {
  width: 500px!important;
  min-height: 400px!important;
}

// Modal Styles
.issues_modal {
  .disabled {
    opacity: unset!important;
    label {
      opacity: unset!important;
    }
  }
}

// Map Tip Style
.map_tip {
  position: absolute!important;
  top: $navbar-height * 2;
  margin: 0 15px!important;
}

// semantic css fixes
.bottom.attached.message {
  margin: 0 20px 10px 20px!important;
  border-radius: 5px!important;
}

// File upload styles
input.file {
  height: 0;
  width: 0;
  opacity: 0;
}
label.file {
  font-size: .8em;
  font-weight: 200;
  // align-self: flex-end;
  // margin: 30px 10px 0 auto;
  padding: 0 5px;
  background-color: #007bff!important;
  border-color: #007bff!important;
  border-radius: 3px!important;
  color: white!important;
  width: 93px;
}
label.file:hover {
  background-color: #0069d9!important;
  border-color: #0062cc!important;
}
.menu > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 5em!important;
    width: 5em!important;
    border-radius: 5px!important;
    box-shadow: -2px -2px 10px -4px rgba(0,0,0,0.75);
  }
}
.right_flex {
  display: flex!important;
  flex-direction: column!important;
  justify-content: space-between;
  margin-right: 10px;
  width: 93px;
  height: 80px;
  span {
    text-align: center;
    font-size: 1.3em;
  }
}

// mobile fixes
@media (max-width: $break-mobile) {
  .issues_cards {
    max-width: 100vw!important;
  }
  .base_container {
    grid-template-areas:
    "n n"
    "m m"
    "i i";
  }
  .down_arrow {
    display: block!important;
    position: absolute;
    bottom: 15px;
    right: 40%;
  }
  .down_arrow:focus {
    outline: none!important;
  }
  .issues_cards {
    max-height: 70vh!important;
  }
}